.create-button {
    height: 150px;
    width: 150px;
    display: block;
    margin: auto;
}

.button-caption {
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

.create-button > .anticon {
    font-size: 50px;
    color: white;
}

.blue-bg {
    background-color: #0085ad;
}

.create-button-panel {
    margin-top: 13%;
    margin-bottom: 15%;
}