@import '~antd/dist/antd.css';

body, h1, h2, h3, h4, h5, p, span, td, tr {
    font-family: 'Asap', sans-serif;
}

.logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
}

.user-text {
    float: right;
    margin-right: 30px;
    font-size: 15px;
}

.metis-logo {
    height: 45px;
    padding-left: 20px;
}

.metis-logo:hover {
    cursor: pointer;
}

.user-image {
    height: 35px;
    width: 35px;
    margin-top: 15px;
    margin-right: 12px;
    border-radius: 50%;
    border: solid 1px #ccc;
    float: right;
}

.ant-btn-primary {
    background: #0085ad;
}

.ant-card-head {
    background: #0085ad;
    opacity: 0.6;
}

.ant-modal-header {
    background: #0085ad;
    opacity: 0.6;
}

.ant-modal-title {
    color: ghostwhite;
}

.ant-card-head-title {
    color: ghostwhite;
}

@media (max-width: 324px) {
    .user-image {
        display: none;
    }
    .user-text {
        display: none;
    }
}